body {
	color: #333;
}

.name {
	padding: 10vw;
}

.profile-picture {
	width: 75vw;
	height: 50vh;
	display: block;
	margin: auto;
}

.introduction {
	margin: 10vw;
}

.quote {
	text-align: center;
	color: #aaa;
	font-weight: bolder;
	font-size: 24px;
	padding: 5vw;
}